resource_group_name     = "example-resources"
resource_group_location = "East US"
cosmosdb_account_name   = "example-cosmosdb-account"
cosmosdb_database_name   = "example-cosmosdb-database"
cosmosdb_container_name   = "example-cosmosdb-container"

search_service_name = "example-search-service"
search_sku = "standard"
search_replica_count = "1"
search_partition_count = 1"

